---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$footer-bg: #123123;
$footer-color: #565;

// Icons
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: #828282;
    }
  }
}

.img-single { // This is a terrible name..
  margin-top: 20px;
  //margin-bottom: 20px;
}

.jumbotron {
  margin-top: 20px;
  margin-bottom: 0px;
}
.jumbotron.jumbotron-first {
  margin-top: -20px;
  margin-bottom: 20px;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "footer",
  "syntax-highlighting"
;
