extends _templates/_default.jade

block page-hero
	h2.h1.page-hero-text Services you trust,<span class="splitter"> not manage.</span>

block page-content
	.text-content
		.text.text-lhs
			// i.icon.icon-feature.lnr.lnr-rocket
			p.
				<em>Spruce</em> is continuous delivery, reimagined in the world of
				containers. Speed and safety go hand in hand to give you the confidence
				to let the automation do it's job, and let you get on with doing what
				you do best.

		.text.text-rhs
			// i.icon.icon-feature.lnr.lnr-briefcase
			p.
				Containers make risky deployments a thing of the past. <em>Spruce</em>
				<a href="/build#build">builds</a> your container, thoroughly
				<a href="/build#test">tests</a> it, and then
				<a href="/build#deploy">ships</a> the tested container to production.

	section.text-content.mailing-list
		block mailing-list
			h3.widestyle Register your interest
			block actualform
				.mailing-group
					include _templates/mailing_list_form.jade
